<% if !@issues.empty? %>
  <% @issues.each do |issue|  %>
   <h4>Issue: <%= link_to issue["title"], issue["html_url"], :target => "_blank" %></h4>
   <p>Submitted by: <%= link_to issue["user"]["login"], issue["user"]["html_url"], :target => "_blank" %></p>
   <p>Date: <%= DateTime.parse(issue["created_at"]).to_formatted_s(:long) %> </p>
   <p>Status: <%= issue["state"] %></p>
      <% if !issue["labels"].empty? %>
        <p>Labels: <%= issue["labels"][0]["name"] %></p>
      <% end %>
  <% end %>
<% else %>
  <p>There are no issues currently on this repo.</p>
<% end %>